.header {
  color: white;
  background: black;

  &-button {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    &:hover {
      cursor: pointer;
    }
  }

  &-icon {
    font-size: 2.0625rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3.125rem;
    height: 3.125rem;
  }

  &-text {
    line-height: 1;
    font-size: 1.25rem;
  }

  &-spacer {
    flex: 1 1 auto;
  }

  &-name {
    font-size: 1.6875rem;
    padding-left: 1rem;
  }

  &--highlighted {
    background: #222222;
  }
}
