<section class="home-toolbar">
  <app-toolbar [props]="toolbarProps"> </app-toolbar>
</section>

<section class="home">
  <mat-card class="home-card">
    <mat-card-header class="home-header">
      <mat-icon class="home-icon">mouse</mat-icon>
      <mat-card-title class="home-title"> Create new player</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <app-form-input [props]="formProps"></app-form-input>
    </mat-card-content>

    <mat-card-actions class="home-actions">
      <app-button class="home-button" [disabled]="form.invalid" (click)="handleJoinClick()">join</app-button>
    </mat-card-actions>
  </mat-card>
</section>
