.game {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 90vh;
  color: white;
  font-size: 1.875rem;
  max-width: 85%;
  width: 100%;
  margin: auto;

  &-semaphore {
    font-size: 7.8125rem;
    display: flex;
    width: 7.8125rem;
    height: 7.8125rem;
    color: red;

    &--green {
      color: green;
    }
  }

  &-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin-top: 0.75rem;
  }

  &-button {
    width: 100%;
    margin: 0.0625rem;
  }
}


