<section class="ranking">
  <!--  HEADER-->
  <h2 class="ranking-header">Rankings</h2>
  <!--/HEADER-->

  <!--RANKING-->

  <ul class="ranking-list">
    <ng-container *ngIf="rankings?.length; else message">
      <li class="ranking-item" *ngFor="let rank of rankings">
        <div class="ranking-rank">
          <mat-icon class="ranking-star">star</mat-icon>
          <span>{{ rank.name }}</span>
        </div>
        <span>{{ rank.maxScore }}</span>
      </li>
    </ng-container>

    <ng-template #message>
      <li>No rankings yet!</li>
    </ng-template>
  </ul>
  <!--/RANKING-->
</section>
