<section class="ranking">
  <!--  HEADER-->
  <h2 class="ranking-header">Rankings</h2>
  <!--/HEADER-->

  <ul class="ranking-list">
    <!--RANKINGS-->
    <ng-container *ngIf="rankings?.length; else message">
      <li class="ranking-item" *ngFor="let rank of rankings">
        <div class="ranking-rank">
          <mat-icon class="ranking-star" svgIcon="star" />
          <span>{{ rank.name }}</span>
        </div>
        <span>{{ rank.maxScore }}</span>
      </li>
    </ng-container>
    <!--/RANKINGS-->

    <!--NO RANKING MESSAGE-->
    <ng-template #message>
      <li>No rankings yet!</li>
    </ng-template>
    <!--NO RANKING MESSAGE-->
  </ul>
</section>
